.button {
  padding: 10px 40px;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid #264653;
  color: #264653;
  font-weight: bold;
  background-color: transparent;
  transition: 0.2s;
  box-shadow: none;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #264653;
  color: white;
}
